.card {
    border-radius: 8px;
    box-shadow: 0 0 6px 0 #908799;
    background: #fff;
    padding: 8px 6px 2px 6px;

    display: flex;
    flex-direction: column;
    gap: 2px;

    width: 210px;

    transition: opacity 0.2s ease, transform 0.2s ease;
    opacity: 1;
    transform: scale(1);
}

.card.closing {
    opacity: 0;
    transform: scale(0.95);
    pointer-events: none;
}

.title {
    font-weight: 400;
    font-size: 14px;
    color: #000;
    flex: 1; 
    overflow-wrap: break-word;
}

.deadline {
    font-weight: 400;
    font-size: 10px;
    color: #908799;
    display: flex;
    justify-content: flex-end;
}