.list__item {
    display: flex;
    justify-content: space-between;

    font-weight: 400;
    font-size: 16px;
    color: #4b4b4b;

    border-radius: 8px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.53);
    background: #fff;
    padding: 6px 9px 6px 9px;
    min-width: 300px;
    text-align: start;

    cursor: pointer;
    transition: 0.7s;
}

.list__item:hover {
    background: #cab4de;
    color: #8646c1;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.732);
}

.list__item:active,
.current__item
{
    color: #fff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.53);
    background: #8646c1;
}

.current__item:hover {
    background: #8646c1;
    color: #fff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.732);
}

.form__item {
    border: 1px solid #8646c1;
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.form__item:hover,
.form__item:active {
    background: #fff;
    color: #4b4b4b;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.732);
}

.form__item.open {
    animation: slideDown 0.3s ease-out
}

.form__item.closing {
    opacity: 0;
    transform: scale(0.95);
    pointer-events: none;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.item__instruments {
    display: flex;
    gap: 3px;
}