.item__form {
    display: flex;
    gap: 10px;
    width: 100%;
}
.input {
    font-weight: 400;
    font-size: 16px;
    color: inherit;
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
}
.input::placeholder {
    color: #908799;
}
.form__buttons {
    display: flex;
    justify-content: start;
    gap: 3px;
}

