.left__panel {
    min-width: 340px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;

    height: 100vh;

    position: sticky;
    overflow-y: hidden; 
    left: 0;
    top: 0;
}