.header {
    display: flex;
    justify-content: center;
    align-items: center;
    
    min-height: 200px;
    background-color: #fff;
    border-bottom: 2px solid #c6c6c6;
    flex-shrink: 0;
}

.logo {
    margin: auto;
}