.item__button {
    flex-shrink: 0;
    
    background-color: transparent;
    stroke-width: 4px;
    display: inline-block;
    padding: 0;
    height: 48px;
    width: 48px;

    

    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
    
}
.item__button:hover {
    border: none;
    outline: none;
    border: none;
    cursor: pointer;
}
.item__button:active {
    border: none;
    outline: none;
    cursor: pointer;
}

.item__button.disabled {
    opacity: 0.6;
    cursor: default;
}